[submodule "CS/CS F202/Homework/lab00-kalebvonburris"]
	path = CS/CS F202/Homework/lab00-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/lab00-kalebvonburris
[submodule "CS/CS F202/Homework/lab01-kalebvonburris"]
	path = CS/CS F202/Homework/lab01-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/lab01-kalebvonburris
[submodule "CS/CS F202/Notes/notes-kalebvonburris"]
	path = CS/CS F202/Notes/notes-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/notes-kalebvonburris
[submodule "CS/CS F202/Homework/lab02-kalebvonburris"]
	path = CS/CS F202/Homework/lab02-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/lab02-kalebvonburris
[submodule "CS/CS F202/Homework/lab03-kalebvonburris"]
	path = CS/CS F202/Homework/lab03-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/lab03-kalebvonburris
[submodule "CS/CS F202/Homework/hw01-kalebvonburris"]
	path = CS/CS F202/Homework/hw01-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/hw01-kalebvonburris
[submodule "CS/CS F202/Homework/lab05-kalebvonburris"]
	path = CS/CS F202/CS/CS F202/Homework/lab05-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/lab05-kalebvonburris
[submodule "CS/CS F202/Homework/hw02-kalebvonburris"]
	path = CS/CS F202/Homework/hw02-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/hw02-kalebvonburris
[submodule "CS/CS F202/Homework/hw03-kalebvonburris"]
	path = CS/CS F202/Homework/hw03-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/hw03-kalebvonburris
[submodule "CS/CS F202/Homework/hw04-kalebvonburris"]
	path = CS/CS F202/Homework/hw04-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/hw04-kalebvonburris
[submodule "CS/CS F202/Homework/final-kalebvonburris"]
	path = CS/CS F202/Homework/final-kalebvonburris
	url = https://github.com/2023-Spring-UAF-CS202/final-kalebvonburris
