**/*.aux
**/*.bbl
**/*.fls
**/*.synctex.gz
**/*.fdb_latexmk
**/*.idx
**/*.ind
**/*.lof
**/*.out
**/*.toc
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.log
**/*.nav
**/*.snm
**/*.run.xml
**/*.code-workspace
**/test.*
/**/template.*
**/*.*.un
**/*.exe
**/*.*~